*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color:rgba(238, 231, 231, 0.3)
}
.header{
    height:60px;
    width:100vw;
    background-color:rgb(222, 152, 60);
    display:flex;
    justify-content:space-evenly;
    align-items:center;  
    /* flex-wrap:wrap; */
    overflow-x:auto;
    scroll-snap-type:x mandatory;
    scroll-behavior:smooth;
}

.header span, .footer span{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:18px;
    margin:0px 5px 0px 5px;
    text-wrap:nowrap;
    scroll-snap-align:none;

}
.border{
    border:1px solid transparent;
}
.border:hover{
    border:1px solid white;
}

.header  a, footer a{
    text-decoration:none;
    color:black;
}
a{
    text-decoration:none;
}
/* boxes in content area*/
.content{
    height:500px;
    width:100vw;
    margin:20px 0px 10px 0px;
    display:flex;
    flex-direction:row;
    align-items:center;
    /* background-color:rgb(169, 215, 169); */
    /* justify-content:space-evenly; */
    overflow-x:auto;
    scroll-snap-type: x mandatory; /* Snap scrolling on the x-axis */
    scroll-behavior: smooth; 

}
.box a{
    position:relative;
    right:150px;
}

.box{
    width:500px;
    height:400px;
    margin-right:3px;
    margin-left:3px;
    background-color:rgba(244, 244, 230, 0.5);
    flex-shrink:0;
    scroll-snap-align: start;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
}

.content::-webkit-scrollbar{
    display:none;
    
}

.image{
    height:98%;
    width:98%;
    background-size:cover;
    background-position:center;

}

.box1 .image{
    background-image:url("LULC_Kapilvastu.jpg");
}

.box2 .image{
    background-image:url("NDVI.png");
}
.box3 .image{
    background-image:url("pix4d.png");
}
.box4 .image{
   background-image:url("qgismodelbuilder.png");
}
.box5 .image{
    background-image:url("touristattractions.jpg");
    background-size:99% 99%;
}
.box6 .image{
    background-color:rgb(30, 29, 94);
}
.box7 .image{
    background-color:rgb(140, 242, 67);
}
.box8 .image{
    background-color:rgb(209, 128, 14);
}

/* more styling */
.welcome{
    margin:45px 0px 0px 0px;
    width:95vw;
    height:80px;
    /* background-color:pink; */
    display:flex;
    align-items:center;
    justify-content:center;
    animation-name:animatetext;
    animation-duration:0.50s;
    animation-timing-function:ease-in;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}
@keyframes animatetext{
    0%{color:black;
        font-size:24px;}
    40%{color:rgb(245, 152, 38);
        font-size:5px;}
    60%{color:rgb(162, 248, 118);
        font-size:20px;}
    80%{color:aquamarine;
        font-size:40px;}
    100%{color:rgb(237, 137, 172);
        font-size:20px;}

}
.quote{
    font-style:italic;
    text-align:justify;
    color:rgb(4, 8, 8);
    margin:0px 15px 0px 15px;
    
}
footer{
    height:60px;
    width:100vw;
    background-color:rgb(218, 202, 99);
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    position:relative;
    bottom:0px;
    /* flex-wrap:wrap; */
     overflow-x:auto;
    scroll-snap-type:x mandatory;
    scroll-behavior:smooth;
}

