*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.logo-container{
    height:200px;
    width:300px;
    /* background-color:red; */
    display:flex;
    flex-direction:column;
    align-items:center;
}
.image{
    height:100%;
    width:60%;
    background-image:url("university-logo.webp");
    background-size:cover;

  

}